.search-wrapper {
  width: 100%;
  border-bottom: 1px solid #d8cfc66b;
  padding: 6px;

  input {
    border: none;
    width: 100%;
    background: none;
  }

  .close-icon {
    border-radius: 50%;
    cursor: pointer;
    background: #d8cfc66b;
    width: 20px;
    height: 20px;
    
  }
}
