@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .invoice {
    width: 95%;
    size: auto;
  }
  .non-printable {
    display: none !important;
  }

  @page {
    size: auto;
    margin: 0;
  }
}
.category-card {
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  background: #e6d5b8;
}

.category-card:hover,
.selected-category {
  border-color: #4b2e2e !important;
  background: #c89f77 !important;
  color: white;
  font-weight: bold;
}

.food-image {
  height: 180px !important;
  object-fit: cover;
}

.coffee-card {
  border-radius: 8px;
  margin-bottom: 20px;
}

.coffee-title {
  color: #4b2e2e;
  font-weight: bold;
}

.price {
  color: #c89f77;
  font-weight: bold;
}

.counter-btn {
  background: #4b2e2e !important;
  color: white;
  border: none;
}

.counter-btn:hover {
  background: #614a40 !important;
}

.order-summary {
  background: #f8f0e3;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
}

.order-summary h3 {
  color: #4b2e2e;
}

.total-cost {
  font-size: 18px;
  font-weight: bold;
  color: #4b2e2e;
}

#coffeeDisplay img {
  margin-left: '80px!important';
}

.coffee-icon {
  width: 30px;
  height: 30px !important;
  border-radius: 8px;
  object-fit: cover;
  margin: 5px 0;
}

.summary-btn {
  font-size: 13px !important;
  padding: 6px !important;
  height: 34px !important;
  min-width: fit-content;
  justify-content: center;
}

.ant-modal-footer {
  text-align: center !important;
  padding-bottom: 10px !important;
}

.total-amount {
  color: #376af5;
  font-weight: 600;
}

.order-id {
  text-align: center;
  font-weight: 600;
}
