.order-wrapper {
  border: 1px solid #f0f0f0;
  margin: 10px 0;
  border-radius: 8px;
  overflow: hidden;

  .order-header {
    background: #d8cfc66b;
    padding: 10px;
  }
  .order-list-wrapper {
    padding: 10px;
  }
}

.line-graph-wrapper {
  background: #d8cfc66b;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
}
